body {
    background: #E18046
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
}

h1 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}
h2 {text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: medium;
}

ul {
    list-style-type: none;
    }

